.ribbonTriangle {
  width: 0;
  height: 0;
  border: solid 4rem;
  border-color: rgb(102 255 108) transparent transparent transparent;
}

@media (max-width: 1000px) {
  .ribbonTriangle {
    border-style: solid;
    border-width: 2rem;
  }
}
