@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    width: 100%;
    min-height: 100vh;
}

body {
    margin: 0 auto;
    min-height: 100vh;
}

li::before {
    content: "\2022"; /* Custom bullet point (Unicode for a solid circle) */
    margin-right: 0.5em;  /* Add spacing between bullet point and text */
}